<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Produto</title>
</head>
<body>
  <h1>Detalhes do Produto</h1>
  <!-- Área para exibir os detalhes do produto -->
  <div id="produtoDetalhes"></div>

  <!-- Botões para atualizar o status e deletar o produto -->
  <button id="btnAtualizar">Atualizar Status</button>
  <button id="btnDeletar">Deletar Produto</button>

  <script src="js/product.js"></script>
</body>
</html>