@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?qsy80o");
  src: url("../fonts/icomoon.eot?qsy80o#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?qsy80o") format("truetype"),
    url("../fonts/icomoon.woff?qsy80o") format("woff"),
    url("../fonts/icomoon.svg?qsy80o#icomoon") format("svg");
    src:  url('../fonts/icons.eot?wmodx2');
  src:  url('../fonts/icons.eot?wmodx2#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?wmodx2') format('truetype'),
    url('../fonts/incos.woff?wmodx2') format('woff'),
    url('../fonts/icons.svg?wmodx2#icomoon') format('svg');

  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {

  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-history:before {
  content: "\e903";
}
.icon-menu-open:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}
.icon-edit:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e907";
}


* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  color: var(--text-icons-color);

  box-sizing: border-box;
}
