:root {
  /* Variáveis para cores de botões na title bar */
  --topbtn-hover-bg: #272c36;
  --topbtn-active-bg: #6d4f8c;
}

/* Definição de fontes */
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?qsy80o");
  src:
    url("./fonts/icomoon.eot?qsy80o#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?qsy80o") format("truetype"),
    url("./fonts/icomoon.woff?qsy80o") format("woff"),
    url("./fonts/icomoon.svg?qsy80o#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Configuração dos ícones */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Melhor renderização de fontes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-delete:before {
  content: "\e902";
}
.icon-history:before {
  content: "\e903";
}
.icon-menu-open:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e905";
}

.iconEdit::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url("./img/icons/edit.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 35%;
  transition: 0.4s;
}

.iconPlus::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url("./img/icons/plus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 35%;
  transition: 0.4s;
}

.iconTrash::before {
  content: "";
  display: inline-block;
  width: 55px;
  height: 55px;
  background-image: url("./img/icons/trash.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 35%;
  transition: 0.4s;
}

.iconTrash:hover::before {
  background-image: url("./img/icons/trash-hover.svg");
  cursor: pointer;
}
.iconPlus:hover::before {
  background-image: url("./img/icons/plus-hover.svg");
  cursor: pointer;
}
.iconEdit:hover::before {
  background-image: url("./img/icons/edit-hover.svg");
  cursor: pointer;
}

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  color: var(--text-icons-color);
  box-sizing: border-box;
}

/* Estilos para a title bar */
.topBar .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.topBar .titleBarBtns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 10px;
}

.titleBar .title {
  margin: 5px 0 5px 10px;
  width: 100%;
  line-height: 30px;
  -webkit-app-region: drag;
}

.titleBarBtns .topBtn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns .topBtn:hover {
  background-color: var(--topbtn-hover-bg);
}

.titleBarBtns .topBtn:active {
  background-color: var(--topbtn-active-bg);
}

/* Ícones dos botões */
.titleBarBtns .minimizeBtn {
  background-image: url(./img/icons/minimize.svg);
}

.titleBarBtns .maximizeBtn {
  background-image: url(./img/icons/maximize.svg);
}

.titleBarBtns .restoreBtn {
  background-image: url(./img/icons/restore.svg);
}

.titleBarBtns .closeBtn {
  background-image: url(./img/icons/close.svg);
}
