:root {
  --dark-background-color: #292929;
  --dark-color-elements: #383838;
  --light-background-color: #ffffff;
  --text-icons-color: #e2e1e4;
}

/*? TITLE BAR */
.mainApp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-background-color);
  box-sizing: border-box;
}

.mainApp .topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  background-color: #151515;
  -webkit-user-select: none;
}

.topBar .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.topBar .titleBarBtns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 10px;
}

.titleBar .title {
  margin: 5px 0 5px 10px;
  width: 100%;
  line-height: 30px;
  -webkit-app-region: drag;
}

.titleBarBtns .topBtn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns .topBtn:hover {
  background-color: #272c36;
}

.titleBarBtns .topBtn:active {
  background-color: #6d4f8c;
}

.titleBarBtns .minimizeBtn {
  background-image: url(../img/icons/minimize.svg);
}

.titleBarBtns .maximizeBtn {
  background-image: url(../img/icons/maximize.svg);
}

.titleBarBtns .restoreBtn {
  background-image: url(../img/icons/restore.svg);
}

.titleBarBtns .closeBtn {
  background-image: url(../img/icons/close.svg);
}

/* * MAIN CONTENT */
.mainApp .contentArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.contentArea .topLabel {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 4;
  width: 85%;
  height: 75px;
  background-color: var(--dark-color-elements);
  box-shadow: 0px 8px 10px 2px rgba(110, 77, 139, 0.74),
              0px 3px 14px 0px rgba(110, 77, 139, 0.12),
              0px 5px 5px rgba(0, 0, 0, 0);
  border-radius: 0px 25px 25px 0px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  display: none;
  z-index: 2;
}

/* * MENU SUPERIOR */
.content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.infos {
  display: flex;
  padding-left: 10%;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15pt;
  width: 100%;
  user-select: none;
  z-index: 5;
}

.infos span {
  font-size: 20pt;
}

.overlayInfos {
  position: fixed;
  border-radius: 0px 25px 25px 0px;
  top: 25px;
  left: 0;
  width: 85%;
  height: 75px;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 6;
}

.searchBar {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  width: 75px;
  height: 59px;
  left: 0;
  transition: width 0.3s ease-in-out;
  margin: 10px 0 10px 20px;
  overflow: hidden;
  z-index: 7;
}

.searchBar input {
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.1s ease-in-out;
  color: var(--text-icons-color);
}

.searchBar input::placeholder {
  color: var(--text-icons-color);
  margin-left: 10px;
}

.searchBar input:focus::placeholder {
  opacity: 0;
}

.searchBar.open {
  width: 486px;
  background-color: #6d4f8c;
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14),
              3px 0px 14px rgba(0, 0, 0, 0.12),
              5px 0px 5px rgba(0, 0, 0, 0.2);
}

.searchBar.closing {
  width: 75px;
}

.searchBar.open input {
  width: 100%;
  opacity: 1;
  transition: width 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.searchBtn {
  padding: 2px 10px;
}


.searchBtn .searchBar {
  transition: all 0.3s ease-in-out;
}

/* * left Menu */
.contentArea .leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  background-color: var(--dark-color-elements);
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14),
              3px 0px 14px rgba(0, 0, 0, 0.12),
              5px 0px 5px rgba(0, 0, 0, 0.2);
  align-items: flex-start;
  transition: width 0.4s ease-in-out;
}

.closed {
  width: 75px;
}

.opened {
  width: 278px;
}

.contentArea .contentPages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  width: 55px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 146px;
  gap: 45px;
}

.unitButtons {
  display: flex;
  gap: 15px;
}

.leftBtn {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
  font-size: 55px;
}

.unitButtons:hover label {
  color: #805ea1;
  cursor: pointer;
}

.menuBtn:hover,
.hover:hover,
.searchBtn:hover,
.labelBtn:hover {
  color: #805ea1;
  cursor: pointer;
}

.contentArea .logoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px 13px 0 0;
  height: 85px;
  background-color: #d9d9d9;
  box-shadow: -8px 0px 10px 0px rgba(0, 0, 0, 0.74),
              -3px 0px 14px 0px rgba(110, 77, 139, 0.12),
              -5px 0px 5px rgba(0, 0, 0, 0);
  transition: width 0.4s ease-in-out;
}

.logo,
.logoClose {
  display: inline-block;
  background-image: url("../img/icons/oldlogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  transition: 0.4s;
}

.logoOpen {
  background-image: url("../img/icons/oldLogoOpen.svg");
  width: 245px;
}

.labelBtn {
  display: flex;
  height: 55px;
  width: 100px;
}

.labelClose {
  opacity: 0;
  pointer-events: none;
}

.labelOpen {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
