:root {
  --dark-background-color: #292929;
  --dark-color-elements: #383838;

  --light-background-color: ;
  --text-icons-color: #e2e1e4;
}

/*? TITLE BAR */

.mainApp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  width: 100vw;
  height: 100vh;
  background-color: var(--dark-background-color);

  -webkit-box-sizing: border-box;
}

.mainApp .topBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  background-color: #151515;
  -webkit-user-select: none;
}

.topBar .titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.topBar .titleBarBtns {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 10px;
}

.titleBar .title {
  margin-left: 10px;
  width: 100%;
  line-height: 30px;
  margin-top: 5px;
  padding-bottom: 5px;
  -webkit-app-region: drag;
}

.titleBarBtns .topBtn {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
}

.titleBarBtns .topBtn:hover {
  background-color: #272c36;
}
.titleBarBtns .topBtn:active {
  background-color: #6d4f8c;
}

.titleBarBtns .minimizeBtn {
  background-image: url(../img/icons/minimize.svg);
}
.titleBarBtns .maximizeBtn {
  background-image: url(../img/icons/maximize.svg);
}
.titleBarBtns .restoreBtn {
  background-image: url(../img/icons/restore.svg);
}
.titleBarBtns .closeBtn {
  background-image: url(../img/icons/close.svg);
}

/* * MAIN CONTENT */

.mainApp .contentArea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.contentArea .topLabel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 85%;
  height: 75px;
  background-color: var(--dark-color-elements);
  box-shadow: 0px 8px 10px 2px rgba(110, 77, 139, 0.74),
    0px 3px 14px 0px rgba(110, 77, 139, 0.12), 0px 5px 5px rgba(0, 0, 0, 0);

  border-radius: 0px 25px 25px 0px;
}

.contentArea .leftMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 75px;
  height: 100%;
  background-color: var(--dark-color-elements);
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.14), 3px 0px 14px rgba(0, 0, 0, 0.12),
    5px 0px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.contentArea .contentPages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.leftBtn {
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.leftBtn svg {
  width: 55px;
  height: 55px;
  transition: 0.2s;
}

.searchBtn {
  margin: 10px 0 10px 20px;
}

.leftBtn svg:hover {
  fill: #805ea1;
  cursor: pointer;
}
