/* cadastroModal.css */
/* Estilos para o modal de cadastro de produto */

/* Modal oculto por padrão usando opacity e visibility */
.modalAdd {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fundo semi-transparente */
  overflow: unset;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
}

/* Quando o modal estiver ativo (classe "show") */
.modalAdd.show {
  opacity: 1;
  visibility: visible;
}

.modal-contentAdd {
  background-color: var(--dark-background-color);
  border-radius: 20px;
  margin: 16vh auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  position: relative;
  padding: 2%;
}

.containerAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353535;
  box-shadow:
    0px 8px 10px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5%;
  width: 100%;
}

.containerAdd form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal-contentAdd .close {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-contentAdd .close:hover,
.modal-contentAdd .close:focus {
  color: #805ea1;
}

.processo-input {
  display: flex;
  margin-bottom: 10px;
  width: 197px;
  flex-direction: row;
  align-items: center;
}

.containerAdd input {
  background-color: transparent;
  border: 1px solid #e2e1e4;
  border-radius: 20px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 0.75rem;
}

.containerAdd input#nome {
  width: 520px;
}

.containerAdd input:focus {
  border: 1px solid #805ea1;
}

.name::placeholder {
  font-size: 0.75rem;
  color: #e2e1e4;
  font-weight: 500;
  position: relative;
  bottom: 1px;
  transition: opacity 0.3s ease-in-out;
}

.name:focus::placeholder {
  opacity: 0;
}

textarea {
  background-color: transparent;
  all: unset;
  display: block;
  width: 543px;
  height: 150px;
  border: 1px solid #e2e1e4;
  border-radius: 20px;
  padding: 10px;
  resize: none;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}

textarea:focus {
  border: 1px solid #805ea1;
}

.styleBtn {
  all: unset;
  background-color: transparent;
  display: inline-block;
}

.titleProcess {
  position: static !important;
}

.processosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.buttonsModal {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

/* Botão submit */
.btn {
  width: 86px;
  height: 52px;
  padding-left: 25px;
  font-weight: 600;
  font-size: 16px;
  color: #e2e1e4;
  border-radius: 25px;
  border: 1px solid #e2e1e4;
  letter-spacing: 2px;
  background-color: transparent;
  box-shadow:
    0px 8px 10px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: #805ea1;
  border: 1px solid #805ea1;
  transition: all 0.3s ease;
}

.formBtn {
  position: relative;
  top: 3px;
  right: 33px;
}

.closeBtn {
  width: 30px;
  height: auto;
}

.formBtn:hover {
  fill: #805ea1;
  transition: all 0.3s ease;
  cursor: pointer;
}
