.modal {
  display: flex; /* Mantemos flex para centralizar */
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  /* Oculto por padrão */
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s ease-in-out,
    visibility 0.4s ease-in-out;
}

/* Classe que ativa a exibição suave */
.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: var(--dark-background-color);
  margin: 10vh auto;
  padding: 40px;
  width: 75vw;
  max-width: 1128px;
  height: auto;
  max-height: 90vh;
  border-radius: 20px;
  overflow: auto;

  /* Efeito de deslizamento */
  transform: translateY(-20px);
  transition: transform 0.4s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#modalProductContent {
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-areas:
    "head head"
    "description production"
    "description buttons";
  gap: 15px;
}

#processosContainer h3 {
  position: fixed;
  top: 23%;
  left: auto;
}

.displayModal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.displayDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 14px;
}

.modalDetails {
  grid-area: head;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 75px;
  background-color: var(--dark-color-elements);
  box-shadow:
    0px 8px 10px 2px rgba(110, 77, 139, 0.74),
    0px 3px 14px 0px rgba(110, 77, 139, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 0 25px;
  margin-bottom: 30px;
}

.description,
.btnModal,
.process {
  background-color: #353535;
  box-shadow:
    0px 8px 10px 2px rgba(0, 0, 0, 0.14),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  grid-area: description;
  width: 450px;
  height: 595px;
  margin-right: 43px;
}

.descricaoInfos {
  display: flex;
  flex-direction: column;
}

.btnModal {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 290px;
  height: 103px;
  margin: auto;
}

.process {
  grid-area: production;
  width: 420px;
  height: auto;
  max-height: 320px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process li {
  list-style: none;
  margin-top: 15px;
}

.process button {
  background-color: transparent;
  border: 1px solid #e2e1e4;
  border-radius: 20px;
  min-width: 181px;
  height: 51px;
  padding: 10px;
}
.process button:hover {
  cursor: pointer;
  background-color: #805ea1;
  border-color: #805ea1;
}

.titles {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 20px;
}

.btnModal button {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s;
  font-size: 55px;
  color: #e2e1e4;
}

@media (max-width: 1280px) {
  #modalProductContent {
    grid-template-areas:
      "head"
      "description"
      "production"
      "buttons";
    justify-items: center;
  }

  .modalDetails,
  .description,
  .btnModal,
  .process {
    width: 90%;
    max-width: none;
  }

  .description {
    height: auto;
  }
}

.descricao {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 25px;
}
